body{
  font-family: Franklin Gothic Heavy;
}
*{
  padding: 0;
  margin: 0;
}
.logo {
  font-size: 32px;
  padding: 11px 6px;
  display: inline-block;
}
.right{
  font-family: Comfortaa;}
a{
  text-decoration: none;
}
header {
  background: none;
}
.header-container{
   width: 1400px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}
.header-container a{
  font-size: 16px;
  padding: 27px 6px;
  display: inline-block;
}
nav {

}
@font-face {
    font-family: "Franklin Gothic Heavy";
    src: url((../fonts/franklingothic-heavy.woff)
         url((../fonts/franklingothic-heavy.svg)
         url((../fonts/franklingothic-heavy.eot);}
@font-face {
    font-family: "Cambria Math";
    src: url((../fonts/cambriamath.woff)
         url((../fonts/cambriamath.svg)
         url((../fonts/cambriamath.eot);}
@font-face {
     font-family: "Comfortaa";
     src: url((../fonts/comfortaa-bold.woff)
          url((../fonts/comfortaa-bold.svg)
          url((../fonts/comfortaa-bold.eot);}
