body{
  font-family: Franklin Gothic Heavy;
}
*{
  padding: 0;
  margin: 0;
}
.logo {
  font-size: 32px;
  padding: 11px 6px;
  display: inline-block;
  color: white;
}
.right{
  font-family: Comfortaa;}
a{
  text-decoration: none;
  color: white;
}
header {
  background: none;
  z-index: 2;
}
.header-container{
   width: 90%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}
.header-container a{
  font-size: 16px;
  padding: 27px 6px;
  display: inline-block;
}
.play {
 height: 100vh;
 width: 100%;
 background: url(../images/bg.png);
 background-position: center;
 position: absolute;
 top: 0px;
 z-index: -1;
}
.button-text {
  color: white;
  margin: 40vh 10vh 0;
  font-size: 72px;
}
button {
    color: white;
    font-family: Franklin Gothic Heavy ;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    background-color: #8cc63f;
    box-sizing: border-box;
    margin:  2vh 14vh;
    padding: 1px 6px;
    border-width: 4px;
    border-style: outset;
    border-color: #8cc63f;
    box-sizing: content-box;
    width: 250px ;
    height: 40px
}
@font-face {
    font-family: "Franklin Gothic Heavy";
    src: url((../fonts/franklingothic-heavy.woff)
         url((../fonts/franklingothic-heavy.svg)
         url((../fonts/franklingothic-heavy.eot);}
@font-face {
    font-family: "Cambria Math";
    src: url((../fonts/cambriamath.woff)
         url((../fonts/cambriamath.svg)
         url((../fonts/cambriamath.eot);}
@font-face {
     font-family: "Comfortaa";
     src: url((../fonts/comfortaa-bold.woff)
          url((../fonts/comfortaa-bold.svg)
          url((../fonts/comfortaa-bold.eot);}
@media screen and ( max-width: 720px) {
  .header-container{
    background: #222222;
    width: 100%;
    display:flex;
    justify-content: space-around;
  }
  .right {
    display: none;
}
button {
    display: none;
  }