.menu {
  margin: 20px;
}
.logo {
  position: absolute;
  font-family: 'Franklin Gothic Heavy';
  font-size: 160%;
}
.right {

 font-family: 'Comfortaa';
 font-size: 120%;
 float: right;
}
.bg {
    height: 100vh;
    background: url(../images/bg.png);
    position: absolute;
    bottom: 0px;
    right: 0px;
}
@font-face {
    font-family: "Franklin Gothic Heavy";
    src: url((../fonts/franklingothic-heavy.woff)
         url((../fonts/franklingothic-heavy.svg)
         url((../fonts/franklingothic-heavy.eot);}
@font-face {
    font-family: "Cambria Math";
    src: url((../fonts/cambriamath.woff)
         url((../fonts/cambriamath.svg)
         url((../fonts/cambriamath.eot);}
@font-face {
     font-family: "Comfortaa";
     src: url((../fonts/comfortaa-bold.woff)
          url((../fonts/comfortaa-bold.svg)
          url((../fonts/comfortaa-bold.eot);}
